<% include partials/header %>

<form action="/register" method="POST">
  <h2 class="container">Register</h2> 
  <input
    type="text"
    name="username"
    placeholder="Username"
    class="form-control"
  />
  <br />
  <input
    type="text"
    name="email"
    placeholder="Email"
    class="form-control"
  />
  <br />
  <input
    type="text"
    name="password"
    placeholder="Password"
    class="form-control"
  />
  <br />
  <button type="submit" class="btn btn-block btn-success">Sign Up</button>
</form>

<% include partials/footer %>
